
.input-component{
  border: 1px solid black;
  border-radius: 0.2rem;
  background: transparent;
  color: #536176;
  font-weight: 700;
}

.simple-button{
  border: 1px solid #173b67;
  background: #173b67;
  color: #ffffff;
  border-radius: 0.2rem;
  font-weight: 700;
}

.side-main-panel{
  background: #173b67;

}


.anthro-table thead{
  background: #176766;
  color: white;
}

.anthro-table th {
  padding: 10px 10px;
  font-weight: 600;
}

.anthro-table td {
  padding: 10px 10px;
  color: #333333;
}